* {
	box-sizing: border-box;
}

button {
	background-color: aquamarine;
	padding: 0.5rem;
	margin-left: 0.2rem;
	border-radius: 0.6rem;
}

.error {
	color: green;
	background: lightgray;
	font-size: 20px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	border-color: green;
	margin-bottom: 10px;
	max-width: 600px;
}
